GOOGLE_GENAI_API_KEY=AIza...
MODEL_ID=gemini-3-flash-preview

SLACK_WEBHOOK_URL=https://hooks.slack.com/....

WHATSAPP_URL=https://graph.facebook.com/v17.0/WAB_PHONE_NUMBER_ID/messages
AUTHORIZATION_HEADER=Bearer your_whatsapp_access_token
WHATSAPP_PHONE_NO=your_whatsapp_phone_number